/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.outer-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.inner-container {
  display: flex;
  width: 100vw;
  flex-grow: 1;
  overflow: hidden;
}

.sidebar {
  ul {
    list-style: none;
  }
  width: 72px;
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  .icon:hover {
    background-color: #f2f2f2 !important;
  }
  position: fixed;
  top: 56px;
}

.header {
  display: flex;
  height: 56px;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
}

.home {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 56px;
  margin-left: 72px;
  overflow-y: auto;
  align-content: baseline;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  background-color: #e5e5e5 !important;
}

input:focus {
  border: 1px solid rgb(42, 42, 137) !important;
  box-shadow: 0px 0px 1px 1px #ccc;
}

a {
  text-decoration: none;
  color: black;
}

.video-card {
  max-width: calc(33.33% - 16px);
  margin: 0 8px 40px 8px;
  height: 300px;
  flex-basis: calc(33.33% - 16px);
  display: flex;
  flex-direction: column;
}

.thumbnail {
  height: calc(100% - 100px);
}

.details {
  height: 100px;
  background-color: pink;
  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}

@media (max-width: 1081px) {
  .video-card {
    max-width: calc(50% - 16px);
    flex-basis: calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .video-card {
    max-width: calc(100% - 16px);
    flex-basis: calc(100% - 16px);
  }
}

@media (min-width: 1408px) {
  .video-card {
    max-width: calc(25% - 16px);
    flex-basis: calc(25% - 16px);
  }
}

@media (min-width: 1734px) {
  .video-card {
    max-width: calc(20% - 16px);
    flex-basis: calc(20% - 16px);
  }
}
